@font-face {
    src: url('/assets/fonts/Inter-VariableFont.ttf') format("truetype");
    font-family: 'Inter';
} 
@font-face {
    src: url('/assets/fonts/Inter-VariableFont.ttf') format("truetype");
    font-family: 'Inter Italic';
    font-style: italic;
} 

@font-face {
    src: url('/assets/fonts/MPLUSRounded1c-Regular.ttf') format("truetype");
    font-family: 'M Plus';
} 
@font-face {
    src: url('/assets/fonts/MPLUSRounded1c-Regular.ttf') format("truetype");
    font-family: 'M Plus Italic';
    font-style: italic;
} 