@font-face {
    src: url('/assets/fonts/Inter-VariableFont.ttf') format("truetype");
    font-family: 'Inter';
} 
@font-face {
    src: url('/assets/fonts/Inter-VariableFont.ttf') format("truetype");
    font-family: 'Inter Italic';
    font-style: italic;
} 

*{
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}